.login-contanier {
  background-color: #15d64b;
  border-radius: 5%;
  color: white;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

label {
  display: block;
}
