.no-expenses {
  font-size: 1.5rem;
  text-align: center;
}

.no-expenses > button {
  border: none;
  border-radius: 10%;
  background-color: #03c988;
  color: white;
  font-size: 1.75rem;
  text-align: center;
  transition: 0.7s;
  padding: 1rem 1.5rem;
  width: 15%;
}

.no-expenses > button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
