.no-expenses {
  font-size: 1.5rem;
  text-align: center;
}

.no-expenses > button {
  border: none;
  border-radius: 10%;
  background-color: #03c988;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem 0;
  width: 20%;
}
