.info-container label {
  display: block;
  font-size: 1.5rem;
}

.info-container input {
  box-sizing: border-box;
  margin: 1rem 0;
  width: 50%;
}

.info-container div button {
  background-color: #2876f9;
  background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
  border-radius: 5%;
  box-sizing: border-box;
  outline: none;
  font-size: 2.5rem;
  margin: 2rem 0;
  padding: 1rem 3rem;
  border: 3px solid white;
  color: white;
  width: 50%;
}

.info-container div button:disabled {
  border: 3px solid grey;
  color: grey;
}

.info-container div button:enabled:hover {
  cursor: pointer;
}
