.date-container {
  display: flex;
  flex-direction: column;
  grid-area: date;
  row-gap: 0.5rem;
  justify-content: flex-end;
}

.SingleDatePicker {
  /* Styles for the date picker container */
  color: #03c988;

}

.DateInput_input__focused {
  border-bottom: 2px solid #03c988 !important;
}
