.form-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: red;
}

input {
  background: #f5f5f5;
  border: none;
  border-radius: 1.625rem;
  font-size: 1rem;
  outline: none;
  padding: 1rem;
  width: 30%;
}

#title {
  color: blue;
  width: 30%;
}

.amount-date-container {
  display: flex;
}
.amount-date-container label {
  color: red;
}

textarea {
  border: none;
  height: 150px;
  resize: none;
  width: 32%;
}


