.form-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  row-gap: 2rem;
  width: 60%;
  font-size: 1.5rem;
}

.title-category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "title title title quantity";
}

.amount-quantity-date-container {
  display: grid;
  column-gap: 4.5rem;
  grid-template-columns: repeat(3, calc((100% - 8rem) / 3));
  grid-template-rows: auto;
  grid-template-areas: "amount quantity date";
}

.form-container > div > button {
  border: none;
  border-radius: 10%;
  background: #03c988;
  color: white;
  font-size: 2rem;
  text-align: center;
  transition: 0.7s;
  padding: 0.5rem 0;
  width: 20%;
}

.form-container > div > #add {
  float: right;
}

.form-container > div > #back {
  border: 2px solid #03c988;
  background: white;
  color: #03c988;
  align-self: flex-start;
}

.form-container > div > button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
