@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  text-align: center;
}
