@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-top: 2rem;
  overflow: hidden;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
}

button {
  border: none;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 3rem;
  height: 4rem;
  text-align: center;
  width: 4rem;
  float: right;
}
