.not-found-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.not-found-container h2 {
  color:#6d17cb;
  font-size: 6rem;
  margin: 0;
}

.not-found-container p {
  font-size: 1.5rem;
}

.not-found-container button {
  border: 3px solid #6d17cb;
  background-color: transparent;
  border-radius: 10%;
  box-sizing: border-box;
  color: #6d17cb;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
  padding: 1rem 2.5rem;
  text-align: center;
  width: 15%;
}

.not-found-container button:hover {
  cursor: pointer;
}
